<div class="container mt-4">
    <h3 class="mb-4">Resumen</h3>

    <div class="row">
        <div class="col-md-4" *ngIf="employeesMaxSalary">
            <i class="bi bi-cash-coin metric-icon"></i>
            <h4>Salario más alto</h4>
            <p> {{ employeesMaxSalary.salary | currency }}</p>
        </div>

        <div class="col-md-4" *ngIf="employeesAgeLow">
            <i class="bi bi-cash-coin metric-icon"></i>
            <h5>Edad más baja:</h5>
            <p> {{ employeesAgeLow.age }}</p>
        </div>
        <div class="col-md-4" *ngIf="employeesInputMonth !== undefined">
            <i class="bi bi-cash-coin metric-icon"></i>
            <h5>Ingresados el último mes:</h5>
            <p> {{ employeesInputMonth }}</p>
        </div>
    </div>
</div>